<div class="container-fluid bg">
  <div class="ripple-background" style="display: none;">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle mediun shade4"></div>
    <div class="circle small shade5"></div>
  </div>
    <div class="row h-100">
      <div class="form-wrapper col-md-12 mt-5" id="formWrapper">
        <div class="card">
          <div class="card-body">
            <div class="bottom-logo" style="padding: 20px; width: 250px; background-color: white; width: 100%; display: flex; justify-content: center; align-items: center;">
              <img src="../../../assets/img/logo.png" width="200"/>
            </div>
            <form onkeypress="return event.keyCode != 13;">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter Username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" [type]="showPassword ? 'text' : 'password'" id="password" placeholder="Password"><br>
                <div class=""><input type="checkbox" id="togglePasswordShow" [(ngModel)]="showPassword"> Show Password</div>
              </div>
                <div class="alert alert-danger alert-dismissible fade show" style="float:left; width: 100%; display:none;" id="messagebox">
                    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close" style="border: 0; background: inherit;" (click)="hideMessage()">
                      <i class="nc-icon nc-simple-remove"></i>
                    </button>
                    <span id="message">Error!</span>
                  </div>
                  <div class="buttons" style="float:right">
                <button (click)="redirectRegistration()" class="btn btn-block">Register</button>
                <button (click)="validateUser()" class="btn btn-danger btn-block"><i class="sign-in icon"></i> Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>    