<div class="center-container">
  <div class="card">
    <div class="card-body">
      <img src="../../../../assets/img/qr-code.png" width="250" height="250" style="" />
    </div>
  </div>
</div>
<div class="center-container" style="margin-bottom: 20px">
  <small class="form-text text-muted">Pay through above QR Code using UPI and submit transaction number here after successful payment.</small>
</div>
<form>
  <div class="center-container">
    <div class="form-group" style="margin: 0">
      <input type="text" class="form-control" id="transaction-no-input" placeholder="Enter Transaction No">
    </div>
  </div>
  <div class="center-container">
    <button class="btn btn-outline-danger btn-round" (click)="depositRequest()">
      <i class="fa fa-send"></i> Submit
    </button>
  </div>
</form>
