<div class="ui tiny inverted modal pending">
  <i class="close icon"></i>
  <div class="header">
    Respond Ticket
  </div>
  <div class="content">
    <div class="description">
        <div class="form-group">
          <label for="subjectInput">Subject</label>
          <input type="text" class="form-control" id="subjectInput" disabled autocomplete="off">
          <label for="descriptionTextarea">Description</label>
          <textarea class="form-control" id="descriptionTextarea" rows="7" disabled></textarea>
        </div>
    </div>
  </div>
  <div class="content">
    <div class="description">
        <div class="form-group">
          <label for="descriptionTextarea">Response</label>
          <textarea class="form-control" id="responseTextarea" rows="7"></textarea>
        </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button" (click)="hidePopup()">Cancel</div>
    <div class="ui button" (click)="respondTicket()">Submit</div>
  </div>
</div>
<div class="table-responsive">
  <ng2-smart-table [settings]="requestSettings" [source]="tickets"></ng2-smart-table>
</div>
