<div class="row">
  <div class="col-md-12">
    <div class="card demo-icons">
      <div class="card-header">
        <div class="ui pointing menu">
          <a *ngFor="let item of menuItems" (click)="changeMenu(item)" class="item {{item.active}}" id="{{item.name}}" semantic-ui>{{item.name}}</a>
        </div>
        <div class="ui segment">
          <GeneratePins *ngIf="selectedMenu === 'Generate Pins'"></GeneratePins>
          <ManagePins *ngIf="selectedMenu === 'Manage Pins'"></ManagePins>
          <UsedPins *ngIf="selectedMenu === 'Used Pins'"></UsedPins>
        </div>
      </div>
    </div>
  </div>
</div>
