<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i
                style="vertical-align: middle"
                class="nc-icon nc-money-coins text-success"
              ></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Level Income</p>
              <p class="card-title" id="levelIncomeText"></p>
            </div>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="table-responsive">
  <ng2-smart-table [settings]="levelSettings" [source]="rows"></ng2-smart-table>
</div>
