<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4 center-content">
            <div class="icon-big text-center icon-warning">
              <i style="vertical-align: middle;" class="bi bi-currency-rupee text-info"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Available Balance</p>
              <p class="card-title" style="font-size: 20px;" id="available-bal"></p>
            </div>
          </div>
          <div class="card-footer "></div>
        </div>
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4 center-content">
            <div class="icon-big text-center icon-warning">
              <i style="vertical-align: middle;" class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Direct Earnings</p>
              <p class="card-title" style="font-size: 20px;" id="direct-earnings"></p>
              <hr />
              <p class="card-category">Level Earnings</p>
              <p class="card-title" style="font-size: 20px;" id="level-earnings"></p>
              <hr />
              <p class="card-category">Total Earnings</p>
              <p class="card-title" style="font-size: 20px;" id="total-earnings"></p>
            </div>
          </div>
          <div class="card-footer "></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4 center-content">
            <div class="icon-big text-center icon-warning">
              <i style="vertical-align: middle;" class="nc-icon nc-circle-10 text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Direct Members</p>
              <p class="card-title" style="font-size: 20px;" id="direct-members"></p>
            </div>
          </div>
          <div class="card-footer "></div>
        </div>
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4 center-content">
            <div class="icon-big text-center icon-warning">
              <i style="vertical-align: middle;" class="nc-icon nc-vector text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Autopool Level</p>
              <p class="card-title" style="font-size: 20px;" id="autopool-level"></p>
            </div>
          </div>
          <div class="card-footer "></div>
        </div>
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4 center-content">
            <div class="icon-big text-center icon-warning">
              <i style="vertical-align: middle;" class="nc-icon nc-diamond text-info"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Gifts & Rewards Rank</p>
              <p class="card-title" style="font-size: 20px;" id="education-gift-reward-rank"></p>
            </div>
          </div>
          <div class="card-footer "></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4 center-content">
            <div class="icon-big text-center icon-warning">
              <i style="vertical-align: middle; color: lightcoral;" class="bi bi-gift"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Autopool Reward</p>
              <p class="card-title" style="font-size: 20px;" id="autopool-reward"></p>
              <hr />
              <p class="card-category">Education Rewards</p>
              <p class="card-title" style="font-size: 20px;" id="education-reward"></p>
              <hr />
              <p class="card-category">Gifts & Rewards</p>
              <p class="card-title" style="font-size: 20px;" id="gift-reward"></p>
            </div>
          </div>
          <div class="card-footer "></div>
        </div>
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4 center-content">
            <div class="icon-big text-center icon-warning">
              <i style="vertical-align: middle;" class="bi bi-tag"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Digital Token</p>
              <p class="card-title" style="font-size: 20px;" id="digital-token"></p>
            </div>
          </div>
          <div class="card-footer "></div>
        </div>
      </div>
    </div>
  </div>