<div class="container-fluid bg">
  <div class="ripple-background" style="display: none;">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle mediun shade4"></div>
    <div class="circle small shade5"></div>
  </div>
  <div class="row h-100">
    <div class="form-wrapper col-md-12 mt-5" id="formWrapper">
      <div class="card">
        <div class="card-body">
          <div class="bottom-logo"
            style="padding: 20px; width: 250px; background-color: white; width: 100%; display: flex; justify-content: center; align-items: center;">
            <img src="../../../assets/img/logo.png" width="290" />
          </div>
          <form onkeypress="return event.keyCode != 13;">
            <div class="form-group" *ngIf="username == ''">
              <label for="username">Username</label>
              <div class="row">
                <div class="col-md-10">
                  <input type="text" class="form-control" id="username" placeholder="Enter Username">
                </div>
                <div class="col-md-2">
                  <button class="ui primary button" (click)="getUserEmail()"><i style="margin: 0" class="check icon"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="username != '' && !validOTP">
              <label for="otp">OTP</label>
              <div class="row">
                <div class="col-md-10">
                  <input type="number" class="form-control" id="otp" placeholder="Enter OTP">
                </div>
                <div class="col-md-2">
                  <button class="ui primary button" (click)="verifyOTP()"><i style="margin: 0" class="check icon"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="validOTP">
              <label for="password">New Password</label>
              <input class="form-control" type="password" id="password"
                placeholder="New Password"><br>
              <label for="password">Re-type Password</label>
              <input class="form-control" type="password" id="re-password"
                placeholder="Re-type Password"><br>
            </div>
            <div class="form-group" *ngIf="validOTP">
              <label><b>Minimum Password Requirements : </b></label>
              <ul>
                  <li><label>Should contain alphanumerics and special characters.</label></li>
                  <li><label>Length must be atleast 8 characters long.</label></li>
              </ul>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" style="float:left; width: 100%; display:none;"
              id="messagebox">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close"
                style="border: 0; background: inherit;" (click)="hideMessage()">
                <i class="nc-icon nc-simple-remove"></i>
              </button>
              <span id="message">Error!</span>
            </div>
            <div class="buttons" style="width: 100%;">
              <button style="float:left" *ngIf="!validOTP" class="btn btn-danger btn-block" (click)="redirectLogin()"><i class="sign-in icon"></i> Back to Login</button>
              <button style="float:right" *ngIf="validOTP" class="btn btn-danger btn-block" (click)="updatePassword()">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>