<div class="row">
  <div class="col-lg-3">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col">
            <div class="numbers">
              <p class="card-category">Withdrawable Balance</p>
              <p class="card-title" id="Withdrawable-bal"></p>
            </div>
          </div>
          <div class="card-footer "></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <div class="card-body ">
        <form>
          <div class="container-fluid">
            <div class="form-group" style="margin: 0">
              <input type="number" class="form-control" id="amount-input" placeholder="Enter Amount">
            </div>
          </div>
          <div class="center-container">
            <button class="btn btn-outline-danger btn-round" (click)="addWithdrawRequest()">
              <i class="fa fa-send"></i> Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
