<div class="table-responsive" *ngIf="!toggleTable">
  <table class="table">
    <thead class="text-primary">
        <tr>
            <th>Level No.</th>
            <th>Total Members</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows; let i = index">
            <td>Level {{ row.level_no }}</td>
            <td><b>{{row.total_members}}</b></td>
            <td>
              <button class="ui primary button" (click)="getAutopoolTeamByLevel(row.level_no)">
                More
              </button>
            </td>
        </tr>
    </tbody>
  </table>
</div>
<button class="ui orange icon button" (click)="toggleTable = !toggleTable" *ngIf="toggleTable">
  <i class="arrow left icon"></i>
</button>
<div class="table-responsive" style="margin-top: 15px;" *ngIf="toggleTable">
  <table class="table">
    <thead class="text-primary">
        <tr>
            <th>#</th>
            <th>User ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>E-Mail</th>
            <th>Join Date</th>
            <th>Active Status</th>
            <th>Activation Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let member of members; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{member.user_id}}</td>
            <td>{{member.name}}</td>
            <td>{{member.username}}</td>
            <td>{{member.email}}</td>
            <td>{{member.join_date}}</td>
            <td>{{member.is_active ? 'Active' : 'In-active'}}</td>
            <td>{{member.activation_date}}</td>
        </tr>
    </tbody>
  </table>
</div>