<form>
  <div class="card-header">
    <h6>Personal Details</h6>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" id="nameInput">
    </div>
    <div class="form-group col-md-6">
      <label for="usernameInput">Username</label>
      <input type="text" class="form-control" id="usernameInput">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="useridInput">User ID</label>
      <input type="text" class="form-control" id="useridInput" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="sponsorInput">Sponsor ID</label>
      <input type="text" class="form-control" id="sponsorInput" disabled>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="phoneInput">Phone</label>
      <input type="number" class="form-control" id="phoneInput">
    </div>
    <div class="form-group col-md-6">
      <label for="emailInput">E-Mail</label>
      <input type="email" class="form-control" id="emailInput">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="activeInput">Active</label>
      <input type="text" class="form-control" id="activeInput" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="activedateInput">Activation Date</label>
      <input type="text" class="form-control" id="activedateInput" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="joindateInput">Registered On</label>
    <input type="text" class="form-control" id="joindateInput" disabled>
  </div>
  <div class="card-header">
    <h6>KYC Details</h6>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="bankAcInput">Bank A/c. No</label>
      <input type="number" class="form-control" id="bankAcInput" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="banknameInput">Bank Name</label>
      <input type="text" class="form-control" id="banknameInput" disabled>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="branchInput">Bank Branch</label>
      <input type="text" class="form-control" id="branchInput" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="ifscInput">IFSC Code</label>
      <input type="text" class="form-control" id="ifscInput" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="holderInput">Bank A/c. Holder Name</label>
    <input type="text" class="form-control" id="holderInput" disabled>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="aadharInput">Aadhar No.</label>
      <input type="number" class="form-control" id="aadharInput" disabled>
    </div>
    <div class="form-group col-md-6">
      <label for="panInput">PAN No.</label>
      <input type="text" class="form-control" id="panInput" disabled>
    </div>
  </div>
  <div class="container-fluid btn-center">
    <button type="submit" class="btn btn-outline-danger btn-round"><i class="fa fa-send"></i> Submit</button>
  </div>
</form>
