<div class="ui tiny inverted modal pending-withdrawrequest">
  <i class="close icon"></i>
  <div class="header">Withdraw Request</div>
  <div class="content">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="requestidInput">Request ID</label>
        <input type="text" class="form-control" id="requestidInput" disabled />
      </div>
      <div class="form-group col-md-6">
        <label for="DateTimeInputInput">Date & Time</label>
        <input type="text" class="form-control" id="DateTimeInput" disabled />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="useridInput">User ID</label>
        <input type="text" class="form-control" id="useridInput" disabled />
      </div>
      <div class="form-group col-md-6">
        <label for="usernameInput">Username</label>
        <input type="text" class="form-control" id="usernameInput" disabled />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="amountInput">Withdraw Amount</label>
        <input type="text" class="form-control" id="amountInput" disabled />
      </div>
      <div class="form-group col-md-6">
        <label for="userbalanceInput">User Balance</label>
        <input type="email" class="form-control" id="userbalanceInput" disabled />
      </div>
    </div>
    <div class="form-group">
      <label for="statusDropdown">Status</label>
      <select class="form-control" id="statusDropdown">
        <option value="Succeed">-- SELECT --</option>
        <option value="Succeed">Succeed</option>
        <option value="Failed">Failed</option>
      </select>
    </div>
    <div class="form-group">
      <label for="remarksTextarea">Remarks</label>
      <textarea class="form-control" id="remarksTextarea" rows="7"></textarea>
    </div>
  </div>
  <div class="actions">
    <div class="ui button" (click)="hidePopup()">Cancel</div>
    <div class="ui green button" (click)="submit()">Submit</div>
  </div>
</div>
<div class="table-responsive">
  <table class="table">
    <thead class="text-primary">
      <tr>
        <th>Request ID</th>
        <th>User ID</th>
        <th>User Name</th>
        <th>Amount</th>
        <th>User Balance</th>
        <th>Time & Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requests" [ngClass]="{'red-font': request.Amount > request['User Balance']}">
        <td>{{ request["ID."] }}</td>
        <td>{{ request.user_id }}</td>
        <td>{{ request.username }}</td>
        <td>{{ request.Amount }}</td>
        <td>{{ request["User Balance"] }}</td>
        <td>{{ request.Date }}</td>
        <td>
          <button
            class="ui green icon button"
            fdprocessedid="23ylm"
            (click)="showPopup(request['ID.'], request.user_id, request.username, request.Amount, request['User Balance'], request.Date)"
          >
            <i class="right arrow icon"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
